/Lógica(Java)/15-08/OperadorTernario/nbproject/private/
/Lógica(Java)/15-08/OperadorTernario/build/
/Lógica(Java)/19-08/JavaApplication3/nbproject/private/
/Lógica(Java)/19-08/ForIt/nbproject/private/
/Lógica(Java)/19-08/ForIt/build/
/Lógica(Java)/19-08/Procedimento/nbproject/private/
/Lógica(Java)/19-08/Procedimento/build/
/Lógica(Java)/19-08/Classes/nbproject/private/
/Lógica(Java)/19-08/Classes/build/
